<!DOCTYPE html>
<html>
<head>
    <title>Nogada Develop Blog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/basic.css">
    {% block import %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">Nogada Develop Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mr-2 mt-2 mt-lg-0">
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'write' %}">Write</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2 mt-2 mt-lg-0">
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 ml-auto" type="submit">Search</button>
        </form>
        <div class="dropdown d-flex justify-content-end">
            <button 
                class="btn btn-outline-secondary dropdown-toggle ml-2" 
                type="button" 
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
            />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'login' %}">Log in</a>
                <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
    </div>
    </nav>
    <section class="mainbody">
        {% block content %}
        {% endblock %}
     </section>
    <div class="footer bg-secondary">
        <div class="container">
            <div class="text-center p-2">
                <hr />
                <p>
                    <img src="/static/assets/github.png" width="30px" height="30px"/><br>
                    Nogada Develop blog
                    <a class="footer-link" href="https://github.com/azxca1731"><br><strong>azxca1731</strong> on Profile</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>