{% extends './base.html' %}

{% block import %}
    <link rel="stylesheet" href='/static/css/main.css'></link>
    <script src='/static/js/main.js'></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-cloumns" id="allpost">
        {% for blog in posts %}
            <div class="card border-secondary mb-3">
                <div class="card-header bg-transparent border-secondary">Post</div>
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <h5 class="text-mute postcard-datetime">{{blog.author}} - {{blog.pup_date}}</h5>
                    <p class="card-text">{{blog.summary}}</p>
                </div>
                <div class="card-footer bg-transparent border-secondary"><a href="{% url 'detail' blog.id %}">More</a></div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                {% if 1 == current %}
                    {{pages.lenght}}
                    <li class="page-item disabled"><a class="page-link" href="#"><</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{current|add:-1}}"><</a></li>
                {% endif %}
                {% for count in pages %}
                    {% if current == count %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{count}}">{{count}}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{count}}">{{count}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pages|length == current %}
                    {{pages.lenght}}
                    <li class="page-item disabled"><a class="page-link" href="#">></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{current|add:1}}">></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
