.post {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 70vh;
  padding: 2rem;
}
.post-body {
  min-height: 50vh;
}
.comment {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 20vh;
  padding: 2rem;
}
