.post {
    background-color: rgba( 255, 255, 255, 0.8 );
    min-height: 70vh;
    padding: 2rem;
}

    .post-head {
        border-bottom: 1px solid #6c757d;
    }

    .post-body{
        min-height: 50vh;
    }

    .post-label {
        position: relative;
        top: 5px;
    }
    